<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="Main" connectionString="Data Source=Maple.sqlite" providerName="SQLite" />
    <add name="UnitTest" connectionString="Data Source=UnitTest.sqlite" providerName="SQLite" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
</configuration>
