; This is the default configuration file for Cake.
; This file was downloaded from https://github.com/cake-build/resources

[Nuget]
Source=https://packages.nuget.org/api/v2

[Roslyn]
NuGetSource=https://packages.nuget.org/api/v2

[Paths]
Tools=./Cake/tools
Addins=./Cake/tools/Addins
Modules=./Cake/tools/Modules
