<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
        <add key="SoftThron" value="https://pkgs.dev.azure.com/SoftThorn/_packaging/SoftThorn/nuget/v3/index.json" />
    </packageSources>

    <solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>
</configuration>